* {
  background-color: black;
  color: lightblue;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  color: rgb(0, 0, 0);
}

header nav {
  display: flex;
  gap: 1ch;
}

.navImage {
  height: 3rem;
  width: 3rem;
}

.navLink {
  color: lightblue;
}

.bookLink {
  color: lightblue;
}

a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: aqua;
}
