* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
  color: black;
}

form,
label,
main {
  display: grid;
  gap: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  gap: 1rem;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  align-content: center;
}

.navImage {
  height: 2rem;
  width: 2rem;
}

.bookCover {
  max-width: 12rem;
  width: 100%;
}

.mainLink {
  color: teal;
  text-decoration: underline;
}

.navLink {
  color: lightblue;
}

.bookLink {
  color: lightblue;
}

a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: aqua;
}
